
$main-color: #6366f1;
$main-color-dark: #4849b0;
$sec-color: #e0e7ff;
$num-green: #10b981;
$bar-green: #6ee7b7;
$cart-bg: #f3f4f6;


$small: 576px;
$midium: 768px;
$large: 992px;
$xl: 1200px;
$xxl: 1400px;